$TTL 86400
@   IN  SOA  ns1.{{ domain }}. admin.{{ domain }}. (
          1          ; Serial
          3600       ; Refresh
          1800       ; Retry
          604800     ; Expire
          86400      ; Minimum TTL
)
@       IN  NS   ns1.{{ domain }}.
{% for host in groups['all'] %}
{{ hostvars[host].ansible_host.split('.')[3] }} IN PTR {{ host }}.{{ domain }}.
{% endfor %}
